.best-move {
    background-color: rgb(0, 192, 0);
}

.wrong-move {
    background-color: yellow;
}

.unanalyzed-move {
    /* default */
}

#stats-list {
    /*list-style-type: none;*/
    text-align: left;
}
