<div id="trainModeSelection" ng-controller="TrainModeSelectionController">
    <h1>{{'Choose the way how to train your memory and chess intuition' | localize}}</h1>
    <div id="modes">
        <button type="button" ng-click="startBestGamesTraining()" id="bestGames">{{('Best Games' | localize)}}</button>
        <button type="button" ng-click="startWatchBestPlay()" id="watchAndRemember">{{'Watch & Remember' | localize}}</button>
        <button type="button" ng-click="startBestMovesTraining()" id="bestMoves">{{('Best Moves' | localize)}}</button>
    </div>
</div>